<div class="row">
	<div class="col-sm-6">
		<label class="control-label"><%= t('gallery.modal.edittitle') %></label>
		<br>
	    <canvas id="middle-canvas" style="border:1px solid black; width:100%; height:100%"></canvas>
	</div><!-- /.col-sm-6 -->
	
	<div class="col-sm-6">
		<label for="titlename" class="control-label"><%= t('gallery.modal.title') %></label>
		<input type="text" class="form-control" name="titlename" value="<%= sl.title %>"/>
		<br>
		<label for="tags" class="control-label"><%= t('gallery.modal.tags') %></label>
		<input type="text" class="form-control" name="tags" value="<%= tg %>"/>
		<br>
		<label for="user" class="control-label"><%= t('gallery.modal.user') %></label>
		<input type="text" class="form-control" name="user" value="<%= sl.user %>"/>
		<br>
		<label for="pass" class="control-label"><%= t('gallery.pass') %></label>
		<input type="text" class="form-control" name="pass" value=""/>

		<input type="hidden" name="slideid" value="<%= sl.id %>"/>
	</div><!-- /.col-sm-6 -->
</div><!-- /.row -->
